<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div style="background: transparent; border: 0; box-shadow: none;" class="container">
    <div class="auth-forms">
      <div class="auth-form login-form">
        <h2>Login</h2>
        <form action="/login" method="POST">
          <div class="input-form">
            <label>
              <span class="span-form">Email</span>
            </label>
          <input type="email" name="email" placeholder="Enter your email address" required>         </div>
          <div class="input-form">
            <label>
              <span class="span-form">Password</span>
            </label>
            <input type="password" name="password" placeholder="Enter your password" required> 
          </div>
          <div class="display-flex">
            <button type="submit">Login</button>
            <button class="google-btn" onclick="location.href='/auth/google'"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 14 14"><path fill="#000000" d="M7.14 8.33v-2.6h6.69c.1.44.18.85.18 1.44c0 4-2.74 6.84-6.86 6.84S0 10.86 0 7s3.2-7 7.14-7c1.93 0 3.54.69 4.78 1.83L9.89 3.76c-.51-.48-1.41-1.04-2.75-1.04c-2.36 0-4.29 1.93-4.29 4.28s1.93 4.28 4.29 4.28c2.74 0 3.74-1.86 3.93-2.95H7.13Z"/></svg></button>
          </div>
        </form>

        <div class="register-link">
          <p>Don't have an account? <a href="/register">Register</a></p>
        </div>
      </div>
    </div>
  </div>
          
</body>
</html>