<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div style="    background: transparent;
    border: 0;
    box-shadow: none;" class="container">
    <div class="auth-form register-form">
      <h2>Register</h2>
      <form action="/register" method="POST">
        <div class="input-form">
        <label>
            <span class="span-form">Username</span>
        </label>
        <input type="text" name="username" maxlength="24" placeholder="Enter your username" required>
          </div>
        <div class="input-form">
          <label>
            <span class="span-form">Email</span>
          </label>
        <input type="email" name="email" placeholder="Enter your email address" required>
          </div>
        <div class="input-form">
          <label>
            <span class="span-form">Password</span>
          </label>
        <input type="password" name="password" placeholder="Enter your password" required>
          </div>
        <button type="submit">Register</button>
        <div class="register-link">
        <p>Already have an account? <a href="/login">Login</a></p>
          </div>
      </form>
    </div>
  </div>
</body>
</html>